
.search-seaction{
   
    /* padding-left: 10%;
    padding-right:10% ; */
    background-color: var(--primary);
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.search-left{
width: 50%;

}

.search_box{
    width: 500px;
    background: transparent;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px var(--scand);
  }
  
  .wrapper .search_box .dropdown{
    width: 150px;
    border-right: 2px solid var(--scand);
    color: var(--scand);
    position: relative;
    cursor: pointer;
  }
  
  .wrapper .search_box .dropdown .default_option{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
  }
  
  .wrapper .search_box .dropdown ul{
    position: absolute;
    top: 70px;
    left: -10px;
    background: transparent;
    width: 150px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px  var(--scand);
  }
  
  .wrapper .search_box .dropdown ul.active{
    display: block;
  }
  
  .wrapper .search_box .dropdown ul li{
    padding-bottom: 20px;
  }
  
  .wrapper .search_box .dropdown ul li:last-child{
    padding-bottom: 0;
  }
  
  .wrapper .search_box .dropdown ul li:hover{
    color: #6f768d;
  }
  
  .wrapper .search_box .dropdown:before{
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: var(--scand) transparent transparent transparent;
  }
  
  .wrapper .search_box .search_field{
    width: 350px;
    height: 100%;
    position: relative;
  }
  
  .wrapper .search_box .search_field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
  }
  
  .wrapper .search_box .search_field .fas{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: var(--scand);
    cursor: pointer;
  }
  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9fa3b1;
  }
  ::-moz-placeholder { /* Firefox 19+ */
   color: #9fa3b1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #9fa3b1;
  }
  
  .search-btn{
      margin-top: 20px;
    background: var(--text) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    height: 44px;
    width: 170px;
  }

  .searchButton{

    align-content: flex-end;
  }

  .head-search{

    color: var(--text);
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 11px;
    font-size: 14px;
  }

  .body-search{

    color :#fff;
    font-size: 18px;
    letter-spacing: 1.4px;
    text-transform: uppercase;

  }

  /* 
  /////////////////////////////////////////////////////////////////////////////////////////////////////
   */
/* 
seaction 1
*/


.section1{

  /* width: 100%; */
  padding: 3%;
  /* height: 50vh; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
 margin-bottom: 7%;

}
.section1 .section-img{
  /* position: absolute; */
max-width: 50%;
/* background-color: red; */


}
.section1 .section-content{
  /* align-self: flex-end; */
  max-width: 50%;
  align-content: center;
  text-align: right;
  margin-top: 50px;
  margin-right:50px ;
  

 
}
.section-content p {
  margin-bottom: 10px;
}
.section1 .section-content .intro{

  color: var(--text);
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-img{
/* width: 400%; */

}
.section-img-icon{
  align-self: flex-start;
  position: absolute;
  top: 0;
  width: 40%;
 
}
.section-img-icon img:nth-child(1){
  position: absolute;
      top: 0px;
      left:300px;


}
.section-img-icon img:nth-child(2){
  position: absolute;
      top: 100px;
      left:460px;

}
.section-img-icon img:nth-child(3){
  position: absolute;
      top: 240px;
      left: 540px;

}

.Read-more{
  /* margin-top: 20px;
  outline: none;
 
  height: 44px;
  width: 170px; border-radius: 50px;
  text-align: center;
  background-color: inherit;
  border: 1px solid var(--scand);
  color: var(--text);
  cursor: pointer; */

  border: 2px solid #ff6c3a;
  cursor: pointer;
    color: #ff6c3a;
    outline: none;
    float: right;
    font-size: 9px;
    font-weight: 700;
    height: auto;
    line-height: 35px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 50px;
    width: 129px;
}

}
.Read-more:hover{

  background-color: var(--text);
  color: white;
}
@media all and (max-width: 1200px){
      
  .section1 {
          flex-direction: column !important;
    
        justify-content: center !important;
        align-items: center ;
         /* flex-wrap: wrap; */
       
        padding: 0;
        min-height:40%;
        min-width: 100%;
        
  }
  .section-img {
    
    /* background-color: violet !important; */
    /* margin-bottom: 10px; */
    min-width: 50%;
    height: 30%;
    text-align: center;
    padding: 0;
  }

  .section-content{

   
   
    min-width:50%;
    text-align: center !important;
    padding: 1px;
    /* background-color: yellow; */
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .section-content p{

    margin-bottom: 20px;
  }
 
  .main-img img{

      width:100%;
    
  }
  .section-img-icon img{

      width: 70px;
  } 

  .section-img-icon img:nth-child(1){
      position: absolute;
          top:-10px;
          left:200px;
  
  
  }
  .section-img-icon img:nth-child(2){
      position: absolute;
          top: 80px;
          left: 410px;
  
  }
  .section-img-icon img:nth-child(3){
      position: absolute;
          top: 220px;
          left: 450px;
  
  }

.section-img .section-content{
  width: 100%;

}






  }


@media all and (max-width:750px) {
  
  .section-img {

    max-width: 96% !important ;
  }

}

  @media all and (max-width:900px) {
      
      .img-show{
          display: none;
      }

      .section-img-icon img {

        display: none;
      }


      .search-btn {

          width:100px ;
      }
  }
 


  @media all and (max-width:999px) {

.input {

  width: 100px  ;
  
}
.search-seaction{

  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10%;
}
.wrapper .search_box .search_field {
width: 50px !important;

}

.search_box {

  width: 100%;
}
  }
    
  @media all and (max-width:750px) {

    .input{

      width: 200px !important;
    }
    .search_box {

      width: 100%;
    }
    .dropdown{

      display: none;
    }
  }

  @media all and (max-width:800px) {
      
    .img-show{
        display: none;
    }

    
  
    
}


@media all and (max-width:300px) {
  .input{

    width: 50% !important;
  }
  
}



