
:root{

    --primary:#2E3138;
    --lighte:#eee;
    --Dark:#212121;
    --scand:#EE693A;
    --text:#ff6c3a;
   
}
.seaction5{

    /* padding: 15%; */
    background-color: var(--primary);
    padding: 2%;
    display: flex;
        justify-content: flex-start;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;

}
.seaction5-right{

    width: 50%;
    
}
.seaction5 h6{

    color: var(--text);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px
}
.seaction5 h4{

    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
    line-height: 1.2;
    font-weight: 800;
}


.seaction5 h3{
    color: #ff6c3a;
    font-family: lato;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 35px
}
.seaction5-btn{


    border:2.2px solid var(--scand);
    border-radius:44px;
    padding: 13px;
    width: 130px;
    color: var(--text);
    
    background-color: transparent;
    
}
.seaction5 .seaction5-left{

width: 50%;
/* align-self: flex-end; */
padding-left: 5%;
}
.seaction5-left img{


vertical-align: middle;
border-style: none;
width: 100%;
}

@media all and (max-width:900px) {
    

    .seaction5{

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .seaction5-left {
        text-align: center !important;
        padding: 0;
        width: 100%;
        padding: 0 !important;
        width: 70% !important;
       
        display: flex !important;
        justify-content: flex-start;
        align-items: flex-start;

    }
    .seaction5-left img {
        max-width: 100%;
      
        text-align: center;
         margin-left: -15%;
     
        align-self: flex-start;
     }
    
    }
   
    .seaction5-right {

        
    }
