:root{

    --primary:#2E3138;
    --lighte:#eee;
    --Dark:#212121;
    --scand:#EE693A;
    --text:#ff6c3a;
   
}
.servcies{

    padding-top: 10%;
    margin-bottom:100px ;
}
.servcies .services-title
{

    text-align: center;
  
}
.servcies .services-title h4
{

    color: var(--text);
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;

}
.servcies .services-title h3{

    font-size: 16px;
    margin-top: 12px;
    letter-spacing: 2px;
    

    text-transform: uppercase;
}

.services-content .title::before{
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: -4px;
    width: 100%;
    z-index: -1;
    border-bottom: 4px double rgb(252, 178, 153);
}
.services-content .title {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    padding: 0px 50px;
}
.services-content h3 {

    color: var(--text);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 2;
    background: none 0px 0px repeat scroll rgb(249, 249, 249);
    padding: 0px 15px;
}
.servcies .servcies-body{

    /* padding-left: 10%;
    padding-right:10% ;
    padding-top: 5%; */
   padding: 50px;
   padding-top: 4%;
 
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    flex-direction: row;
    
   margin-bottom: 100px;
}
.servcies .servcies-product{
border: 1px dashed #e1e1e1;
margin-top: 70px;
padding: 12px 11px;
position: relative;
width: 33%;
max-width: 33%;
margin-bottom: 1px;
height: 30vh;
/* position: relative; */


}
.servcies .services-content{
    background: #f9f9f9 none repeat scroll 0 0;
   height: 100%;
   padding: 10%;
    text-align: center;
}
.servcies .servcies-img {

    /* position: absolute;
    top:calc(189px - 100%);
    left:calc(100%  - 200px); */

    left: 50%;
    margin-left: -32px;
    position: absolute;
    top: -32px;
}

@media all and (max-width: 1001px) {
    
    .servcies-product
        {
                width: 50%;
                max-width: 50%;
                min-width: 50%;
               

        }
     
    
}

@media all and (max-width: 800px) {

      .servcies .servcies-body{

        flex-direction: column;
     
    }
    .servcies-product
    {
          
            min-width: 100%;
           

    }
    
}




.cloud{
    background: #2e3138 url("../images/9.webp") no-repeat scroll center 101%;
padding-bottom: 170px ; 

}





