:root{

    --primary:#2E3138;
    --lighte:#eee;
    --Dark:#212121;
    --scand:#EE693A;
    --text:#ff6c3a;
   
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans' , sans-serif;

}
body{

    
    width: 100%;
}

.menu-bar{
        display: block;
        position: relative;
        z-index: 1;
        user-select: none;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

   
}
.menu-bar span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--lighte);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;

}
.menu-bar:active span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--scand);

}
.menu-bar.is-active span:nth-child(1){
    transform:  translate(0px , -2px) rotate(45deg);
}
.menu-bar.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
.menu-bar.is-active span:nth-child(3){
    transform: translate(-3px , 3px) rotate(-45deg);
}
.menu-bar.is-active:hover span{
    background-color: var(--scand);
}

 .container h2{
    color: #fff;
    font-size: 27px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-transform: uppercase;
   
    /* align-self: flex-start;
    
    align-content: flex-start; */
}

.container{
    
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu a:hover{
    background: #34373E;
    color: #FF6C3A;
}


.header1{

    width: 100%;
    height: 100vh;
   
    
}

header .header-container{

    
    width: 100%;
    height: 100vh;
    background-image: url('../images/slider.webp');
    
   
}

.header-data{

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10%;
    
}
.content{

    
    /* background-color: #EE693A; */
    width: 50%;
    transition: all 1s ease-in-out;
    /* animation: slideup 2s ease-in-out;
    animation-iteration-count: infinite; */
    /* position: absolute; */
   
}
.img-slider{
 
    height: 50vh;
    width: 50%;
    text-align: center;
    /* background-color: red; */
    /* padding: 10%;    */
    /* position: absolute; */
   
}
.img-show{
  
    transition: all 1s ease-in-out;
  
    
}
.img-show img{

    width: 450px;
   
}
@keyframes left-to-right{

    from{
        transform: translateX(500px);
        
    }
    /* 30%{
        transform: translateX(400px);
    }
    50%{
        transform: translateX(200px);
    }
    80%{

        transform: translateX(100px);
    }
    */
    to{

        transform: translateX(0);
    }
}
 .money{

    font-size:30px;
    color:var(--scand) ;
    
}
.content h2{

    color: #373737;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 800;
}


@keyframes slideup{

    from{
        opacity: 0.2;
        line-height: 55px;
    }
    to{
        opacity: 1;
        line-height: 14px;
    }

}

@media all  and (max-width:900px) {

    .content{
        /* background-color: red; */
        width: 100%;
        margin-top: 50%;
        /* padding: 22%; */
      
    }
    .header-data{
          
            flex-direction: row;
            align-items: center;
            justify-content: center;
          

    }
    .img-show {

        /* padding: 60%; */
    }
    
}


@media all and (min-width: 970px){
    .menu-bar{
        display: none;
        
    }
   
      /* .nav-menu {  display: none !important;}    */
       
    
    
    /* .menu{
    
        display: flex;
        align-self: flex-end;
        justify-self:flex-end;
        width: 50%;
    }
     */
    
   
    }


    @media all and(max-width:1000px){

      
        .img-show img{

            width: 350px;
           
        }
        

    }

  
        /* @media all and (max-width:900px) {
            h2{
                font-size: 20px;
            }
            .menu {
                font-size: 11px;
                align-content: flex-end;
                align-self: flex-end;
            } 
        } */


        .container{
/* background-color: blue;    */

justify-content: space-between;
align-content: space-between;
flex-wrap: wrap;

/* min-height: auto; */
        }
        .menu-bar{

          
           
        }
        .container h2{
            width: 50%;
            margin-bottom: 100px;
        }
        /* .menu{
        
                overflow-x: auto;
                background: #2E3138 none repeat scroll 0 0;
            max-height: 220px;
           
            display: block !important;
     
         width: 100%;
         align-items: center;
           order: 3;
           width: 80%;
           box-sizing: content-box;
            width: 100%;
           background-color: red;

        } */
        /* .menu a {
            width: 80%;
           
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 0;
            margin-top: 0;
            display: block;
            border-top: medium none;
            box-sizing: border-box;
          
            width: 100%;
            font-weight: 800;
        } */
        /* .nav-menu {
            display: flex;
                display: none;
                background-color: var(--Dark);
                position: fixed;
              flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
              
                width: 100%;
                z-index: 100;

        } */
        /* .nav-menu ul li {
           
            width: 100%;
          
            padding: 20px;
           border-bottom: 2px solid #ff6c3a;

        }
        .nav-menu ul {
            margin-top: 40px;
           display: flex;
           flex-direction: column;
           align-content: space-around;
           justify-content: space-evenly;
           
        }
        .nav-menu ul li a{
                text-decoration: none;
                color: white;
               
        } */

        /* @media all and (max-width:400px) {

            .nav-menu ul {
                margin-top: 100px;
            }
            .nav-menu {

                height: 100vh;
            }
            
               
                nav{

                    font-size: 18px !important;
                    /* padding: 10px !important; */
                    
                
                /* nav h2{

                    font-size: 20px !important ;
                } */

        
     




        /* .navbar1{

            padding: 300px;
        }
        nav{
            position: fixed;
            padding:20px;
            top: 0;
            left: 0;
            width: 100%;
            transition: all  1s ease-in-out;
            z-index: 100;
            background-color: var(--primary);
          
            border-bottom:  3px solid var(--Dark);
           
        } */
        /* .menu{
            display: none;
          
           align-self: flex-end;
           justify-content: flex-end;
           width: 50%;
          
        
        } */
        /* .menu a {
            color: #fff;
           
            text-decoration: none;
            transition: 0.4s;
            font-size: 13.5px;
            font-weight: 600px;
          
            padding:5px;    
            border-radius: 99px;
            text-transform: uppercase;
      
        
        
        }
 */











