.whyus{

    position: relative;

    justify-content: center;
    display: flex;
    height: 120vh;
   margin-top: 1%;
   
}


.whyus-body{ 
    background: rgba(0, 0, 0, 0) url("../images/12.webp") no-repeat scroll center center;
    background-size: auto;
    -webkit-background-size: cover;
    background-size: cover;
    width: 98%;
    min-height: 800px;
    max-width: 2000px;
    z-index: -19;
   position: absolute;
   top: 10px;
   left: 10px;
}


.whyus-productwrap{

   

   
    /* background-color: seagreen; */
   /* position: absolute;
   top: 400px; */
   max-width: 2000px;
   position: absolute;
  padding: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 500px;
    left: 40px;
   
    flex-wrap: wrap;
}
.whyus{

    
   padding: 9px;
    /* background-color: steelblue; */
    
    z-index: 5;
    background-color: #fff;
    margin-bottom: 10%;
    /* height: auto; */
  
    
}

.whyus-product {

   width: 24%;
    
}
.whyus-product-data h4{
color: var(--text);

font-size: 12px;
letter-spacing: 2px;
margin-bottom: 25px;
text-transform: uppercase;
}
.whyus-product-data p {

    color: #6e6e6e;
    font-size: 13px;
}

.whyus-img{

    width: 70px;
    text-align: center;
    
    
    background-color: white;
    /* background-color: transparent; */
    border: 1px solid transparent;
    border-radius: 50%;
    
}
.whyus-product-data{

        /*  */

}
.whyus-title{
    margin-top: 10px;
        text-align: center;
        width: 50%;
        margin: 0 auto;
   
       

}
.whyus-title h4{

    color: var(--text);
        font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}
.whyus-title h3{
    color: #2e3138;
font-size: 20px;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 20px;
}
.whyus-title p{

    font-size: 13px;
    line-height: 14px;
    color: #6e6e6e;
}
.whyus-product img{

    width: 70px;
    margin-left: 50px;
    
}

@media all and (max-width:900px) {
    .whyus{

        flex-direction: column;
        display: flex; 
        justify-content: space-between;
        align-items: center; 
        height: auto;
        flex-wrap: wrap;
     
       margin-bottom: 20%;
    }
  
    .whyus-productwrap{

        flex-direction: column;
        position: static;
        text-align: center;
        align-self: center;
        justify-self: center;
    

    }
    .whyus-title{

        text-align: center;
       width: 80%;
      
       min-height: 100px;
        position: static;
     margin-bottom: 90px;
        
    }
    .whyus-product {

        width: 90%;
        padding-left: 0;
       
        text-align: center;
        margin-bottom: 10px !important;
      
    }
    .whyus-product img{

        width: 60px;
       
       
    }
    .whyus-body{

        display: none;
    }
}
@media all and (max-width:800px) {
  
    .whyus-productwrap{
              
      position: static;
     

    }

}
@media all and (max-width:1100px) {
    

  
    .whyus{

    height: 150vh;   
    }
    .whyus-product{
        margin-bottom: 50px;
    }
    .whyus-productwrap{        
        width: 80%;

        padding: 0;
    
    }

  

}


@media all and (max-width:1000px) {

    .whyus-product img{
        margin-left: 10px;

    }
    
}

@media all and (max-width: 800px) {
    

    .whyus-productwrap{
          
            margin: auto;   
            text-align: center;
    }
}

@media all  and (max-width:300px) {



    .whyus-title {

        position: static;
    }   
    
}